# ğŸŒº ê³ ê° ëŒ€ì¶œë“±ê¸‰ ë¶„ë¥˜ í•´ì»¤í†¤
Evaluation Metric : Macro F1<br>
Public Score : ì „ì²´ í…ŒìŠ¤íŠ¸ ë°ì´í„° ì¤‘ 30%<br>
Dead Line : 24-02-05 AM 10:00

In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
sample = pd.read_csv('data/sample_submission.csv')

## 1) ë°ì´í„° íƒìƒ‰

In [17]:
train.shape, test.shape

((96294, 15), (64197, 14))

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96294 entries, 0 to 96293
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            96294 non-null  object
 1   ëŒ€ì¶œê¸ˆì•¡          96294 non-null  int64
 2   ëŒ€ì¶œê¸°ê°„          96294 non-null  object
 3   ê·¼ë¡œê¸°ê°„          96294 non-null  object
 4   ì£¼íƒì†Œìœ ìƒíƒœ        96294 non-null  object
 5   ì—°ê°„ì†Œë“          96294 non-null  int64
 6   ë¶€ì±„_ëŒ€ë¹„_ì†Œë“_ë¹„ìœ¨   96294 non-null  float64
 7   ì´ê³„ì¢Œìˆ˜          96294 non-null  int64
 8   ëŒ€ì¶œëª©ì           96294 non-null  object
 9   ìµœê·¼_2ë…„ê°„_ì—°ì²´_íšŸìˆ˜  96294 non-null  int64
 10  ì´ìƒí™˜ì›ê¸ˆ         96294 non-null  int64
 11  ì´ìƒí™˜ì´ì         96294 non-null  float64
 12  ì´ì—°ì²´ê¸ˆì•¡         96294 non-null  float64
 13  ì—°ì²´ê³„ì¢Œìˆ˜         96294 non-null  float64
 14  ëŒ€ì¶œë“±ê¸‰          96294 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 11.0+ MB

In [49]:
train.head()

,ID,ëŒ€ì¶œê¸ˆì•¡,ëŒ€ì¶œê¸°ê°„,ê·¼ë¡œê¸°ê°„,ì£¼íƒì†Œìœ ìƒíƒœ,ì—°ê°„ì†Œë“,ë¶€ì±„_ëŒ€ë¹„_ì†Œë“_ë¹„ìœ¨,ì´ê³„ì¢Œìˆ˜,ëŒ€ì¶œëª©ì,ìµœê·¼_2ë…„ê°„_ì—°ì²´_íšŸìˆ˜,ì´ìƒí™˜ì›ê¸ˆ,ì´ìƒí™˜ì´ì,ì´ì—°ì²´ê¸ˆì•¡,ì—°ì²´ê³„ì¢Œìˆ˜,ëŒ€ì¶œë“±ê¸‰
0,TRAIN_00000,12480000,36 months,6 years,RENT,72000000,18.90,15,ë¶€ì±„ í†µí•©,0,0,0.0,0.0,0.0,C
1,TRAIN_00001,14400000,60 months,10+ years,MORTGAGE,130800000,22.33,21,ì£¼íƒ ê°œì„,0,373572,234060.0,0.0,0.0,B
2,TRAIN_00002,12000000,36 months,5 years,MORTGAGE,96000000,8.60,14,ë¶€ì±„ í†µí•©,0,928644,151944.0,0.0,0.0,A
3,TRAIN_00003,14400000,36 months,8 years,MORTGAGE,132000000,15.09,15,ë¶€ì±„ í†µí•©,0,325824,153108.0,0.0,0.0,C
4,TRAIN_00004,18000000,60 months,Unknown,RENT,71736000,25.39,19,ì£¼ìš” êµ¬ë§¤,0,228540,148956.0,0.0,0.0,B

In [4]:
# train.dtypes[train.dtypes == 'float64'].index.tolist()

In [57]:
# deci = False

# for data in train['ì—°ì²´ê³„ì¢Œìˆ˜']:
#     if data %1 != 0 :
#         print('ì†Œìˆ˜ì  ë°ì´í„° ìˆìŒ')
#         deci = True
#         break

# if not deci:
#     print('ëª¨ë‘ ì •ìˆ˜ ê°’')

ëª¨ë‘ ì •ìˆ˜ ê°’

In [19]:
train.isnull().sum()

ID              0
ëŒ€ì¶œê¸ˆì•¡            0
ëŒ€ì¶œê¸°ê°„            0
ê·¼ë¡œê¸°ê°„            0
ì£¼íƒì†Œìœ ìƒíƒœ          0
ì—°ê°„ì†Œë“            0
ë¶€ì±„_ëŒ€ë¹„_ì†Œë“_ë¹„ìœ¨     0
ì´ê³„ì¢Œìˆ˜            0
ëŒ€ì¶œëª©ì             0
ìµœê·¼_2ë…„ê°„_ì—°ì²´_íšŸìˆ˜    0
ì´ìƒí™˜ì›ê¸ˆ           0
ì´ìƒí™˜ì´ì           0
ì´ì—°ì²´ê¸ˆì•¡           0
ì—°ì²´ê³„ì¢Œìˆ˜           0
ëŒ€ì¶œë“±ê¸‰            0
dtype: int64

### - object feature
  - 'ID' : ê³ ê° ì•„ì´ë””
  - 'ëŒ€ì¶œê¸°ê°„' : (categort, 2ê°œ) 36months, 60months 
  - 'ê·¼ë¡œê¸°ê°„' : ë°ì´í„° ê°€ê³µ í•„ìˆ˜, ìˆ˜ì¹˜í˜•ìœ¼ë¡œ ë³€ê²½, unknown 5.8%
  - 'ì£¼íƒì†Œìœ ìƒíƒœ' : (categori, 4ê°œ) MORTGAGE(ëŒ€ì¶œ), RENT, OWN, ANY? 
  - 'ëŒ€ì¶œëª©ì ' : (categori, 12ê°œ) ['ë¶€ì±„ í†µí•©','ì‹ ìš© ì¹´ë“œ', 'ì£¼íƒ ê°œì„ ','ê¸°íƒ€','ì£¼ìš” êµ¬ë§¤','ì˜ë£Œ','ìë™ì°¨','ì†Œê·œëª¨ ì‚¬ì—…','ì´ì‚¬','íœ´ê°€','ì£¼íƒ','ì¬ìƒ ì—ë„ˆì§€']
  - 'ëŒ€ì¶œë“±ê¸‰' : (categori, 7ê°œ)target data

### - integer feature
  - 'ëŒ€ì¶œê¸ˆì•¡'
  - 'ì—°ê°„ì†Œë“'
  - 'ì´ê³„ì¢Œìˆ˜'
  - 'ìµœê·¼_2ë…„ê°„_ì—°ì²´_íšŸìˆ˜' : 0~30íšŒ, 0íšŒê°€ 79.3% ì°¨ì§€
  - 'ì´ìƒí™˜ì›ê¸ˆ'

### - float feature
  - 'ë¶€ì±„_ëŒ€ë¹„_ì†Œë“_ë¹„ìœ¨'
  - 'ì´ìƒí™˜ì´ì' : ì •ìˆ˜ë¡œ ë³€ê²½ ê°€ëŠ¥
  - 'ì´ì—°ì²´ê¸ˆì•¡' : ì •ìˆ˜ë¡œ ë³€ê²½ ê°€ëŠ¥
  - 'ì—°ì²´ê³„ì¢Œìˆ˜' : ì •ìˆ˜ë¡œ ë³€ê²½ ê°€ëŠ¥

## 2) ë°ì´í„° ì „ì²˜ë¦¬

In [3]:
all_df = pd.concat([train,test])

#### â— ê·¼ë¡œê¸°ê°„ columnì„ ìˆ˜ì¹˜í˜•ìœ¼ë¡œ ë³€ê²½

In [4]:
all_df['ê·¼ë¡œê¸°ê°„'].value_counts().index.tolist()

['10+ years',
 '2 years',
 '< 1 year',
 '3 years',
 '1 year',
 '5 years',
 'Unknown',
 '4 years',
 '8 years',
 '6 years',
 '7 years',
 '9 years',
 '10+years',
 '<1 year',
 '3',
 '1 years']

In [5]:
# '10+ years'.split()[0]

'10+'

In [4]:
def to_num(value):
    try:
        return int(value.split()[0])
    except ValueError:
        if value in ('10+ years','10+years'):
            return 10
        elif value in ('< 1 year','<1 year'):
            return 0
        else:
            return np.nan

In [5]:
data = all_df['ê·¼ë¡œê¸°ê°„']
data = data.apply(to_num)
data.value_counts(dropna=False)

10.0    54034
2.0     14059
0.0     13546
3.0     12755
1.0     10579
5.0      9592
NaN      9533
4.0      9250
8.0      8172
6.0      6353
7.0      6329
9.0      6289
Name: ê·¼ë¡œê¸°ê°„, dtype: int64

In [7]:
all_df['ê·¼ë¡œê¸°ê°„'] = data

#### â— ë¶ˆí•„ìš”í•œ ì‹¤ìˆ˜í•­ ì •ìˆ˜ë¡œ ë³€ê²½

In [8]:
col = ['ì´ìƒí™˜ì´ì','ì´ì—°ì²´ê¸ˆì•¡','ì—°ì²´ê³„ì¢Œìˆ˜']
all_df[col] = all_df[col].astype(int)

#### â— ì¹´í…Œê³ ë¦¬ í•­ëª© ë¼ë²¨ ì¸ì½”ë”©

In [9]:
all_df.dtypes[all_df.dtypes == 'object'].index.tolist()

['ID', 'ëŒ€ì¶œê¸°ê°„', 'ì£¼íƒì†Œìœ ìƒíƒœ', 'ëŒ€ì¶œëª©ì ', 'ëŒ€ì¶œë“±ê¸‰']

In [10]:
col = ['ëŒ€ì¶œê¸°ê°„', 'ì£¼íƒì†Œìœ ìƒíƒœ', 'ëŒ€ì¶œëª©ì ']
for c in col:
    all_df[c] = pd.factorize(all_df[c])[0]

#### â— train, test ë¶„ë¦¬

In [16]:
train = all_df[~all_df['ëŒ€ì¶œë“±ê¸‰'].isnull()]
test = all_df[all_df['ëŒ€ì¶œë“±ê¸‰'].isnull()].drop('ëŒ€ì¶œë“±ê¸‰',axis=1)
print(train.shape, test.shape)

(96294, 15) (64197, 14)

## 3) ëª¨ë¸ í•™ìŠµ

In [18]:
train.columns

Index(['ID', 'ëŒ€ì¶œê¸ˆì•¡', 'ëŒ€ì¶œê¸°ê°„', 'ê·¼ë¡œê¸°ê°„', 'ì£¼íƒì†Œìœ ìƒíƒœ', 'ì—°ê°„ì†Œë“', 'ë¶€ì±„_ëŒ€ë¹„_ì†Œë“_ë¹„ìœ¨', 'ì´ê³„ì¢Œìˆ˜',
       'ëŒ€ì¶œëª©ì ', 'ìµœê·¼_2ë…„ê°„_ì—°ì²´_íšŸìˆ˜', 'ì´ìƒí™˜ì›ê¸ˆ', 'ì´ìƒí™˜ì´ì', 'ì´ì—°ì²´ê¸ˆì•¡', 'ì—°ì²´ê³„ì¢Œìˆ˜', 'ëŒ€ì¶œë“±ê¸‰'],
      dtype='object')

In [19]:
X = train.drop(['ID','ëŒ€ì¶œë“±ê¸‰'], axis=1)
y = train['ëŒ€ì¶œë“±ê¸‰']

In [21]:
from sklearn.model_selection import train_test_split

xt, xv, yt, yv = train_test_split(X,y,
                                 test_size = 0.25,
                                 random_state = 2024)

xt.shape, xv.shape

((72220, 13), (24074, 13))