# 🌺 고객 대출등급 분류 해커톤
Evaluation Metric : Macro F1<br>
Public Score : 전체 테스트 데이터 중 30%<br>
Dead Line : 24-02-05 AM 10:00

In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
sample = pd.read_csv('data/sample_submission.csv')

## 1) 데이터 탐색

In [17]:
train.shape, test.shape

((96294, 15), (64197, 14))

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96294 entries, 0 to 96293
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            96294 non-null  object
 1   대출금액          96294 non-null  int64
 2   대출기간          96294 non-null  object
 3   근로기간          96294 non-null  object
 4   주택소유상태        96294 non-null  object
 5   연간소득          96294 non-null  int64
 6   부채_대비_소득_비율   96294 non-null  float64
 7   총계좌수          96294 non-null  int64
 8   대출목적          96294 non-null  object
 9   최근_2년간_연체_횟수  96294 non-null  int64
 10  총상환원금         96294 non-null  int64
 11  총상환이자         96294 non-null  float64
 12  총연체금액         96294 non-null  float64
 13  연체계좌수         96294 non-null  float64
 14  대출등급          96294 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 11.0+ MB

In [49]:
train.head()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,TRAIN_00000,12480000,36 months,6 years,RENT,72000000,18.90,15,부채 통합,0,0,0.0,0.0,0.0,C
1,TRAIN_00001,14400000,60 months,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,373572,234060.0,0.0,0.0,B
2,TRAIN_00002,12000000,36 months,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,928644,151944.0,0.0,0.0,A
3,TRAIN_00003,14400000,36 months,8 years,MORTGAGE,132000000,15.09,15,부채 통합,0,325824,153108.0,0.0,0.0,C
4,TRAIN_00004,18000000,60 months,Unknown,RENT,71736000,25.39,19,주요 구매,0,228540,148956.0,0.0,0.0,B

In [4]:
# train.dtypes[train.dtypes == 'float64'].index.tolist()

In [57]:
# deci = False

# for data in train['연체계좌수']:
#     if data %1 != 0 :
#         print('소수점 데이터 있음')
#         deci = True
#         break

# if not deci:
#     print('모두 정수 값')

모두 정수 값

In [19]:
train.isnull().sum()

ID              0
대출금액            0
대출기간            0
근로기간            0
주택소유상태          0
연간소득            0
부채_대비_소득_비율     0
총계좌수            0
대출목적            0
최근_2년간_연체_횟수    0
총상환원금           0
총상환이자           0
총연체금액           0
연체계좌수           0
대출등급            0
dtype: int64

### - object feature
  - 'ID' : 고객 아이디
  - '대출기간' : (categort, 2개) 36months, 60months 
  - '근로기간' : 데이터 가공 필수, 수치형으로 변경, unknown 5.8%
  - '주택소유상태' : (categori, 4개) MORTGAGE(대출), RENT, OWN, ANY? 
  - '대출목적' : (categori, 12개) ['부채 통합','신용 카드', '주택 개선','기타','주요 구매','의료','자동차','소규모 사업','이사','휴가','주택','재생 에너지']
  - '대출등급' : (categori, 7개)target data

### - integer feature
  - '대출금액'
  - '연간소득'
  - '총계좌수'
  - '최근_2년간_연체_횟수' : 0~30회, 0회가 79.3% 차지
  - '총상환원금'

### - float feature
  - '부채_대비_소득_비율'
  - '총상환이자' : 정수로 변경 가능
  - '총연체금액' : 정수로 변경 가능
  - '연체계좌수' : 정수로 변경 가능

## 2) 데이터 전처리

In [3]:
all_df = pd.concat([train,test])

#### ● 근로기간 column을 수치형으로 변경

In [4]:
all_df['근로기간'].value_counts().index.tolist()

['10+ years',
 '2 years',
 '< 1 year',
 '3 years',
 '1 year',
 '5 years',
 'Unknown',
 '4 years',
 '8 years',
 '6 years',
 '7 years',
 '9 years',
 '10+years',
 '<1 year',
 '3',
 '1 years']

In [5]:
# '10+ years'.split()[0]

'10+'

In [4]:
def to_num(value):
    try:
        return int(value.split()[0])
    except ValueError:
        if value in ('10+ years','10+years'):
            return 10
        elif value in ('< 1 year','<1 year'):
            return 0
        else:
            return np.nan

In [5]:
data = all_df['근로기간']
data = data.apply(to_num)
data.value_counts(dropna=False)

10.0    54034
2.0     14059
0.0     13546
3.0     12755
1.0     10579
5.0      9592
NaN      9533
4.0      9250
8.0      8172
6.0      6353
7.0      6329
9.0      6289
Name: 근로기간, dtype: int64

In [7]:
all_df['근로기간'] = data

#### ● 불필요한 실수항 정수로 변경

In [8]:
col = ['총상환이자','총연체금액','연체계좌수']
all_df[col] = all_df[col].astype(int)

#### ● 카테고리 항목 라벨 인코딩

In [9]:
all_df.dtypes[all_df.dtypes == 'object'].index.tolist()

['ID', '대출기간', '주택소유상태', '대출목적', '대출등급']

In [10]:
col = ['대출기간', '주택소유상태', '대출목적']
for c in col:
    all_df[c] = pd.factorize(all_df[c])[0]

#### ● train, test 분리

In [16]:
train = all_df[~all_df['대출등급'].isnull()]
test = all_df[all_df['대출등급'].isnull()].drop('대출등급',axis=1)
print(train.shape, test.shape)

(96294, 15) (64197, 14)

## 3) 모델 학습

In [18]:
train.columns

Index(['ID', '대출금액', '대출기간', '근로기간', '주택소유상태', '연간소득', '부채_대비_소득_비율', '총계좌수',
       '대출목적', '최근_2년간_연체_횟수', '총상환원금', '총상환이자', '총연체금액', '연체계좌수', '대출등급'],
      dtype='object')

In [19]:
X = train.drop(['ID','대출등급'], axis=1)
y = train['대출등급']

In [21]:
from sklearn.model_selection import train_test_split

xt, xv, yt, yv = train_test_split(X,y,
                                 test_size = 0.25,
                                 random_state = 2024)

xt.shape, xv.shape

((72220, 13), (24074, 13))